<h1>Cities</h1>

<ul id="cities_list">
  <li id="aus" class="south">Austin</li>
  <li id="bos" class="east">Boston</li>
  <li id="ord" class="midwest">Chicago</li>
  <li id="lax" class="west">Los Angeles</li>
  <li id="jfk" class="east">New York</li>
  <li id="sfo" class="west">San Francisco</li>
</ul>

<script>
  // Write your JS here.
  // Open the JS console and refresh the page to see the output.

  /////////////////////////////////////////////////////////////////////


  /* console.log(`Your lucky number is ${7 * 6}`)


   let name = "Alice";
  console.log(`howdy ${name}!`); 

  name = "Bob";
  console.log(`${name} means Baby On Board! 🤣`); 



  function greet(name) {
  console.log(`howdy, ${name}!`);
  }

  greet("Mohammad Ali");
  



  for (let i = 1; i <= 10; i++) {
    console.log(i * i)
  }

  let fruits = ["apples", "oranges", "bananas"];
  console.log(fruits[1], `number of fruits: ${fruits.length}`);

  let fruits = ["apples", "oranges", "cherries"];

  fruits.forEach(function(fruit) {
    console.log(`I love ${fruit}!`);
  });




  let dice_roll = Math.floor(Math.random() * 6);
  console.log(dice_roll)

  
  const moves = ["rock", "paper", "scissors"];

  let random_index = Math.floor(Math.random() * 3);

  let computer_move = moves[random_index];

  console.log(`The computer played ${computer_move}.`);

  if (computer_move === "rock") {
    console.log("You tied.");
  } else if (computer_move === "paper") {
    console.log("You lost.");
  } else {
    console.log("You won.");
  }
  
  
  

  for (let i = 1; i <= 100; i++) {
    if (i % 3 === 0 && i % 5 === 0) {
      console.log("fizzbuzz");
    } else if (i % 3 === 0) {
      console.log("fizz");
    } else if (i % 5 === 0) {
      console.log("buzz");
    } else {
      console.log(i);
    }
  }


*/












</script>
